@use "@angular/material" as mat;
@use "./m3-theme.scss";

@include mat.core();

:root {
  @include mat.all-component-themes(m3-theme.$light-theme);
  @include mat.typography-hierarchy(m3-theme.$light-theme);
  @include mat.system-level-colors(m3-theme.$light-theme);
  @include mat.system-level-typography(m3-theme.$light-theme);
}
